# Systemd service for chatmixd.
# You may need to change the ExecStart path to match your installation.

[Unit]
Description=Daemon to check if chatmix is balanced on arctis headsets.
After=graphical.target

[Service]
Type=simple
# Change the 5 below if you want to change the interval between checks.
ExecStart=/usr/local/bin/chatmixd 5

[Install]
WantedBy=default.target